<h2>DESCRIPTION</h2>
<em>r.stats.error</em> computes and prints a series of indices used to compare two maps.

<p>The calculated indices are:

<ul>
<li>Mean error</li>
<li>Mean absolute error</li>
<li>Mean squared error</li>
<li>Root mean square error</li>
<li>Multiplicative bias</li>
</ul>

<h2>AUTHOR</h2>
Laurent G. Courty, Instituto de Ingenier&iacute;a UNAM, Mexico
